name: ci

on:
  # trigger on any push to any branch and on any pull request
  push:

jobs:
  lint-type-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.13"

      - name: Install Poetry with pipx
        run: pipx install "poetry==2.1.4"

      # install dependencies with no interaction
      - name: Install dependencies (incl. dev)
        run: poetry install --with dev --no-interaction

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - name: Build docs
        run: make docs